body {
  background-image: url(../img/fondocontacto.jpg);
  background-size: cover; }

/*MENU NAVEGACION*/
.navbar {
  background-image: linear-gradient(to bottom, #890620, #C884A6);
  font-family: "Chivo", sans-serif;
  font-size: 2rem;
  border-radius: 1rem; }

/*PARTE PRINCIPAL*/
.card {
  padding: .5rem;
  margin: .5rem;
  border: 4px #a5c4d4 solid;
  background-color: #a5c4d4; }
  .card .card__img {
    width: 48px; }
  .card .card__text {
    font-family: "Chivo", sans-serif;
    font-size: 1rem;
    text-align: center; }

.frase .frase__title {
  font-family: "Chivo", sans-serif;
  font-size: 3rem;
  text-align: center; }

.frase .frase__text {
  font-family: "Chivo", sans-serif;
  font-size: 1rem;
  text-align: justify; }

.tarjetas {
  background-color: white;
  border: none;
  font-family: "Chivo", sans-serif; }
  .tarjetas .tarjetas__subtitulo {
    font-size: 1.5rem; }
  .tarjetas .tarjetas__img {
    width: 80px; }

.tarjetas :hover {
  background-color: #a5c4d4;
  color: white; }

/*PAGINA SOPORTE REMOTO*/
.frase .frase__button {
  background-color: #a5c4d4;
  color: black; }

/*FOOTER*/
footer {
  background-image: linear-gradient(to bottom, #890620, #C884A6);
  font-family: 'Chivo', sans-serif;
  font-size: 1rem;
  color: white;
  border-radius: 1rem; }
