/*VARIABLES*/
body {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
}

/*MENU NAVEGACION*/
.navbar {
  background-image: linear-gradient(to bottom, #890620, #C884A6);
  font-family: "Chivo", sans-serif;
  font-size: 2rem;
  border-radius: 1rem;
}

/*PAGINA TIPS*/
.tarjetas__contenido {
  color: #c884a6;
  border: 4px #a5c4d4 solid;
  font-family: "Chivo", sans-serif;
}

.tarjetas__contenido:hover {
  background-color: #a5c4d4;
  color: white;
}

/*FOOTER*/
footer {
  background-image: linear-gradient(to bottom, #890620, #C884A6);
  font-family: "Chivo", sans-serif;
  font-size: 1rem;
  color: white;
  border-radius: 1rem;
}