/*VARIABLES*/
@import "color";
@import "fonts";
body {
    background-image: url(../img/fondocontacto.jpg);
    background-size: cover; }

/*MENU NAVEGACION*/
.navbar {
    background-image: linear-gradient(to bottom, #890620, #C884A6);
    font-family: $font-type;
    font-size: $font-size*2;
    border-radius: 1rem; }

/*PAGINA CONTACTO*/
.fondoContacto {
    background-image: url(../img/fondocontacto.jpg);
    background-size: cover;
    background-position: center center;
}
.formulario {
    .formulario__titulo {
    font-family: $font-type;
    font-size: $font-size*3;
    }
    .formulario__cuerpo {
        .form-group {
        font-family: $font-type;
        font-size: $font-size;
        }
        input {
            font-family: $font-type;
            font-size: $font-size;
            color: $colorTexto;  
        }
        textarea {
            color: $colorTexto !important;
        }
        select {
            color: $colorTexto;
        }
    }
    .formulario__boton {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

/*FOOTER*/
footer {
    background-image: linear-gradient(to bottom, #890620, #C884A6);
    font-family: $font-type;
    font-size: $font-size;
    color: white;
    border-radius: 1rem; }